<br/>

<div [ngSwitch]="viewState">
  <div *ngSwitchCase="'view'">
    <h2 class="text-center">{{voting.question}}</h2>
    <div class="text-center"><span title="{{'VOTING.VOTING-DATE' | translate}}"><i class="fa fa-calendar"
                                                                                   aria-hidden="true">&nbsp;&nbsp;</i>{{voting.start}}&nbsp;-&nbsp;{{voting.end}}</span>
    </div>
    <br/>
    <table class="table table-hover-my">
      <tr>
        <th class="notBold text-center" colspan="2">{{'VOTING.RESULT' | translate}}</th>
        <th class="tdBorderLeft text-center" width="40%"><a (click)="showVoteCount='sum'"
                                                            [class.fontSmaller]="showVoteCount!='sum'"
                                                            class="ngClick">{{'VOTING.TOTAL' | translate}}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
          (click)="showVoteCount='all'" [class.fontSmaller]="showVoteCount!='all'"
          class="ngClick">{{'VOTING.ALL' | translate}}</a></th>
      </tr>
      <tr *ngFor="let votingOption of votingOptionList; let i=index">
        <td width="1px" class="text-center openabledialog" (click)="infoVotingOptionDescription(i)">{{i + 1}}.
        </td>
        <td width="70%" class="openabledialog" (click)="infoVotingOptionDescription(i)">
          <b>{{votingOption.option_text}}</b></td>

        <!-- show sum -->
        <td class="tdBorderLeft" *ngIf="showVoteCount=='sum'">
          <div class="voteCountBarSumUp">
                        <span [class.voteCountBarSumPlusText]="votingOption.isPlus"
                              [class.voteCountBarSumMinusText]="votingOption.isMinus">{{votingOption.voteCount}}</span>
            <div [class.voteCountBarSumPlus]="votingOption.isPlus"
                 [class.voteCountBarSumMinus]="votingOption.isMinus"
                 [style.width.%]="votingOption.voteCountAbs / voteSumCountMax * 100">&nbsp;
            </div>
          </div>
        </td>

        <!-- show all -->
        <td class="tdBorderLeft" *ngIf="showVoteCount=='all'">
          <!-- minus -->
          <div class="voteCountBarUpMinus">
                        <span class="voteCountBarMinusText"><span
                          *ngIf="votingOption.voteMinusCount > 0">-</span>{{votingOption.voteMinusCount}}</span>
            <div class="voteCountBarMinus"
                 [style.width.%]="votingOption.voteMinusCount / votePlusMinusCountMax * 100">&nbsp;
            </div>
          </div>
          <!-- plus -->
          <div class="voteCountBarUpPlus">
            <span class="voteCountBarPlusText">{{votingOption.votePlusCount}}</span>
            <div class="voteCountBarPlus"
                 [style.width.%]="votingOption.votePlusCount / votePlusMinusCountMax * 100">&nbsp;
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="text-center">{{'VOTING.NUMBER-OF-VOTERS' | translate}}: {{votingUserCount}}</div>
    <br/>
  </div>


  <div *ngSwitchCase="'loading'">
    <br/>
    <h4 class="loading text-center"><i class="fa fa-spinner fa-spin"></i> {{'LOADING' | translate}}</h4>
  </div>


  <div *ngSwitchCase="'error'">
    <br/>
    <h4 class="text-center errorText">{{errorText}}</h4>
  </div>
</div>
<div class="text-center">
  <back-button></back-button>
</div>
