<br/>

<div [ngSwitch]="viewState">
  <div *ngSwitchCase="'view'">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th colspan="2" class="notBold text-center">{{'VOTING.IN-PROGRESS' | translate}}</th>
          <th></th>
        </tr>
        <tr *ngFor="let voting of votingListActual">
          <td><h5>{{voting.question}}</h5></td>
          <td width="35%" class="validity"><i class="fa fa-calendar"
                                              aria-hidden="true">&nbsp;&nbsp;</i>{{voting.start}}&nbsp;-&nbsp;{{voting.end}}
          </td>
          <td width="1px"><a [routerLink]="['/voting', voting.code]"
                             class="btn btn-primary">{{'VOTING.TO-VOTE' | translate}}</a></td>
        </tr>
        <tr *ngIf="votingListActual.length === 0">
          <td colspan="3">{{'VOTING.CURRENTLY-NO-VOTING' | translate}}</td>
        </tr>
      </table>
    </div>

    <br/><br/>

    <div *ngIf="votingListEnded.length > 0" class="table-responsive">
      <table class="table">
        <tr>
          <th colspan="2" class="notBold text-center">{{'VOTING.CLOSED' | translate}}</th>
          <th></th>
        </tr>
        <tr *ngFor="let voting of votingListEnded">
          <td><h5>{{voting.question}}</h5></td>
          <td width="35%" class="validity"><i class="fa fa-calendar"
                                              aria-hidden="true">&nbsp;&nbsp;</i>{{voting.start}}&nbsp;-&nbsp;{{voting.end}}
          </td>
          <td width="1px"><a [routerLink]="['/votingResult', voting.code]"
                             class="btn btn-primary">{{'VOTING.RESULT' | translate}}</a></td>
        </tr>
      </table>
    </div>
  </div>


  <div *ngSwitchCase="'loading'">
    <br/>
    <h4 class="loading text-center"><i class="fa fa-spinner fa-spin"></i> {{'LOADING' | translate}}</h4>
  </div>


  <div *ngSwitchCase="'error'">
    <br/>
    <h4 class="text-center errorText">{{errorText}}</h4>
  </div>
</div>
