<div class="modal-header">
  <h4 class="modal-title">{{infoVotingOptionDescriptionTitle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div [innerHTML]="infoVotingOptionDescriptionBody"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="activeModal.close('Close click')">{{'BUTTON.CLOSE' | translate}}</button>
</div>
