<ngb-alert *ngIf="errorText" class="alert-error" type="danger" [dismissible]="true"
           (close)="closeError()">{{errorText}}</ngb-alert>

<ng-template #votingInfo let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'VOTING.INFO.TITLE' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [innerHTML]="'VOTING.INFO.TEXT' | translate">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
            (click)="c('Close click')">{{'BUTTON.CLOSE' | translate}}</button>
  </div>
</ng-template>

<div [ngSwitch]="viewState">
  <div class="text-center"><a [routerLink]="" (click)="info(votingInfo)"><i class="fa fa-info-circle"
                                                                            aria-hidden="true"></i>&nbsp;&nbsp;{{'VOTING.INFO.LINK' | translate}}
  </a></div>

  <div *ngSwitchCase="'view'">

    <div class="row justify-content-center">
      <div class="container form-group col-sm-9">
        <div class="row align-items-center">
          <div class="col-sm-2 label-to-right"
               title="{{'VOTING.EMAIL-TITLE' | translate}}">{{'VOTING.EMAIL' | translate}}:
          </div>
          <div class="col-sm-7">
            <input id="email" name="email" type="email" class="form-control" [(ngModel)]="email"
                   #emailNgModel="ngModel"
                   required email="true">
          </div>
          <div class="col-sm-3">
            <div [ngSwitch]="pinState">
              <div *ngSwitchCase="'toSend'">
                <button class="btn btn-primary"
                        (click)="sendPin()">{{'VOTING.SEND-PIN' | translate}}</button>
              </div>
              <div *ngSwitchCase="'sending'">
                <span class="loading text-center"><i class="fa fa-spinner fa-spin"></i></span>
              </div>
              <div *ngSwitchCase="'sent'">
                                <span class="successSent text-center"><i
                                  class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;{{'VOTING.SENT' | translate}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-sm-2 label-to-right"
               title="{{'VOTING.PIN-TITLE' | translate}}">{{'VOTING.PIN' | translate}}:
          </div>
          <div class="col-sm-3">
            <input id="pin" name="pin" type="text" class="form-control" [(ngModel)]="pin"
                   #pinNgModel="ngModel"
                   required minlength="4" maxlength="4">
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-center">{{voting.question}}</h2>
    <div class="text-center"><span title="{{'VOTING.VOTING-DATE' | translate}}"><i class="fa fa-calendar"
                                                                                   aria-hidden="true">&nbsp;&nbsp;</i>{{voting.start}}&nbsp;-&nbsp;{{voting.end}}</span>
    </div>
    <br/>
    <div class="text-center">{{'VOTING.CHOICE-INFO' | translate}}</div>
    <div class="text-center">{{'VOTING.PLUS-VOTE-COUNT-USE' | translate}}: <span
      class="plus fontBigger">{{VOTE_PLUS_MAX - voteNew.votePlusArr.length}}</span>,
      {{'VOTING.MINUS-VOTE-COUNT-USE' | translate}}: <span
        class="minus fontBigger">{{VOTE_MINUS_MAX - voteNew.voteMinusArr.length}}</span></div>
    <table class="table table-hover-my">
      <tr *ngFor="let votingOption of votingOptionList; let i=index"
          [class.votePlus]="votingOption.votePlusSelected"
          [class.voteMinus]="votingOption.voteMinusSelected">
        <td width="1px">
          <div class="mytooltip">
            <button class="btn btn-success shake-constant" [class.shake]="votingOption.votePlusError"
                    (click)="votePlus(votingOption)">{{'VOTING.FOR' | translate}}
            </button>
            <span class="mytooltiptext"
                  [class.mytooltiptextvisible]="votingOption.votePlusErrorLong">{{'VOTING.PLUS-VOTE-EXHAUSTED' | translate}}</span>
          </div>
        </td>
        <td width="1px">
          <div class="mytooltip">
            <button class="btn btn-danger shake-constant" [class.shake]="votingOption.voteMinusError"
                    (click)="voteMinus(votingOption)">{{'VOTING.AGAINST' | translate}}
            </button>
            <span class="mytooltiptext"
                  [class.mytooltiptextvisible]="votingOption.voteMinusErrorLong">{{'VOTING.MINUS-VOTE-EXHAUSTED' | translate}}</span>
          </div>
        </td>
        <td class="openabledialog" (click)="infoVotingOptionDescription(i)"><b>{{votingOption.option_text}}</b>
        </td>
      </tr>
    </table>
    <div class="text-center">
      <button class="btn btn-primary" (click)="voteNewSend()">{{'VOTING.SEND' | translate}}</button>
      <back-button></back-button>
    </div>
  </div>


  <div *ngSwitchCase="'completed'">
    <h2 class="text-center">{{voting.question}}</h2>

    <h3 class="text-center successSent">{{'VOTING.SUCCESS-SENT' | translate}}</h3>
    <br/>

    <div class="text-center">{{'VOTING.VOTED-LIKE-THIS' | translate}}:</div>
    <table class="table">
      <tr *ngFor="let votingOption of votingOptionList" [class.votePlus]="votingOption.votePlusSelected"
          [class.voteMinus]="votingOption.voteMinusSelected">
        <td *ngIf="votingOption.votePlusSelected || votingOption.voteMinusSelected">
          <b>{{votingOption.option_text}}</b></td>
      </tr>
    </table>
    <div class="text-center">
      <back-button></back-button>
    </div>
  </div>


  <div *ngSwitchCase="'loading'">
    <br/>
    <h4 class="loading text-center"><i class="fa fa-spinner fa-spin"></i> {{'LOADING' | translate}}</h4>
  </div>


  <div *ngSwitchCase="'error'">
    <br/>
    <h4 class="text-center errorText">{{errorTextInErrorView}}</h4>
    <div class="text-center">
      <back-button></back-button>
    </div>
  </div>
</div>
