.container {
  max-width: 760px;
  margin-bottom: 10px;
}

.table {
  font-size: 16px;
}

table tr th {
  background: #f8f8f8;
}

.tdBorderLeft {
  border-left: 1px solid #ddd;
}

.table > tbody > tr > td {
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

.ngClick {
  cursor: pointer;
}

.fontBigger {
  font-size: 150%;
}

.fontSmaller {
  font-size: 75%;
}

.notBold {
  font-weight: normal;
}

.errorText {
  color: red;
}

.btnMargin {
  margin-left: 15px;
  margin-right: 15px;
}

.votePlus {
  background-color: #99ffbb;
}

.voteMinus {
  background-color: #ffb3b3;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.successSent {
  color: green;
}

.loading {
  color: grey;
}

.validity {
  font-size: 100%;
}

.voteCountBarUpMinus {
  position: relative;
  float: left;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
}

.voteCountBarUpPlus {
  position: relative;
  float: right;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
}

.voteCountBarMinus {
  float: right;
  height: 100%;
  background-color: #ffb3b3;
  margin: 0;
  padding: 0;
}

.voteCountBarPlus {
  height: 100%;
  background-color: #99ffbb;
  margin: 0;
  padding: 0;
}

.voteCountBarMinusText {
  position: absolute;
  left: auto;
  right: 20px;
  color: red;
}

.voteCountBarPlusText {
  position: absolute;
  left: 20px;
  right: auto;
  color: green;
}

.voteCountBarSumUp {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.voteCountBarSumMinus {
  height: 100%;
  background-color: #ffb3b3;
  margin: 0;
  padding: 0;
}

.voteCountBarSumPlus {
  height: 100%;
  background-color: #99ffbb;
  margin: 0;
  padding: 0;
}

.voteCountBarSumMinusText {
  position: absolute;
  left: 20px;
  right: auto;
  color: red;
}

.voteCountBarSumPlusText {
  position: absolute;
  left: 20px;
  right: auto;
  color: green;
}

.mytooltip {
  position: relative;
}

/* Tooltip text */
.mytooltip .mytooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #D00000;
  font-weight: normal;
  color: white;
  text-align: center;
  padding: 5px 0;
  margin-left: 10px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.mytooltip .mytooltiptext {
  top: 0;
  left: 100%;
}

.mytooltip .mytooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #D00000 transparent transparent;
}

/* Show the tooltip  */
.mytooltip .mytooltiptextvisible {
  visibility: visible;
}

.table-hover-my tbody tr:hover td {
  background-color: rgba(0, 0, 0, 0.05);
}

.openabledialog:hover {
  cursor: pointer;
}

.alert-error {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  width: 94%;
  margin: 0 auto;
  z-index: 1000;
}

@media (min-width: 576px) {
  .alert-error {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .alert-error {
    max-width: 480px;
  }
}

@media (min-width: 992px) {
  .alert-error {
    max-width: 640px;
  }
}

@media (min-width: 1200px) {
  .alert-error {
    max-width: 760px;
  }
}

.row {
  padding-top: .3rem;
  padding-bottom: .3rem;
}

[class^="col"] {
  padding-top: .1rem;
  padding-bottom: .1rem;
}

@media (min-width: 576px) {
  .label-to-right {
    text-align: right;
  }
}

img {
  margin: 5px;
}

.img30 {
  width: 60%;
}

.img45keep {
  width: 45%;
}

.img60 {
  width: 100%;
}

.img100 {
  width: 100%;
}

@media (min-width: 992px) {
  .img30 {
    width: 30%;
  }

  .img45 {
    width: 45%;
  }

  .img60 {
    width: 60%;
  }

  .img100 {
    width: 100%;
  }
}
